<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roadwaffle.android.xsnowwallpaper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="17"/>
    <uses-feature android:name="android.software.live_wallpaper"/>

    <application
        android:icon="@drawable/tannenbaum"
        android:label="@string/servicename" 
        android:allowBackup="false">
        <service
            android:label="@string/servicename"
            android:name=".XsnowWallpaper"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter >
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
             <meta-data android:name="android.service.wallpaper" android:resource="@xml/xsnow" />
        </service>
      <activity android:label="@string/servicename" android:name=".XsnowPreferencesActivity"
                android:exported="true">
      </activity>
    </application>

</manifest>